<!--
<div class="feed-connection">
  <mat-form-field appearance="fill">
    <input #socketName matInput placeholder="Socket name">
  </mat-form-field>
    <button (click)="connect(socketName)" mat-raised-button color="primary">Connect to Feed</button>
</div>
-->

<div class="container-fluid">
  <div class="container">
    <a style="padding: 20px" routerLink="exchanges">Exchanges</a>
    <a style="padding: 20px" routerLink="binance">Binance</a>
  </div>
  <router-outlet></router-outlet>

</div>
<!--
<oasis-markets-view></oasis-markets-view>
-->
